force-app/main/default/flows/Clone_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_To_Order_Product_Collection_Variable</name>
        <label>Add To Order Product Collection Variable</label>
        <locationX>264</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>OrderProductCollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Order_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Product_Record_Id_Blank</name>
        <label>Set Order Product Record Id Blank</label>
        <locationX>264</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Loop_Order_Products.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Order_Products.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Order_Product_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Id_Blank</name>
        <label>Set Record Id Blank</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>Get_Order.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChangeLocation</name>
        <choiceText>Change Location</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Location</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChangeNothing</name>
        <choiceText>Change Nothing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Nothing</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChangeProducts</name>
        <choiceText>Change Product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Product</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Choices</name>
        <label>Choices</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Set_Record_Id_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Change Nothing</defaultConnectorLabel>
        <rules>
            <name>Change_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clone_Options_Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChangeLocation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Record_Id_Blank</targetReference>
            </connector>
            <label>Change Location</label>
        </rules>
        <rules>
            <name>Change_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clone_Options_Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChangeProducts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Record_Id_Blank</targetReference>
            </connector>
            <label>Change Products</label>
        </rules>
        <rules>
            <name>Change_Location_and_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clone_Options_Choices</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ChangeLocation</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Clone_Options_Choices</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ChangeProducts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Record_Id_Blank</targetReference>
            </connector>
            <label>Change Location and Products</label>
        </rules>
    </decisions>
    <interviewLabel>Clone Order - {!$Flow.CurrentDateTime} - {!$User.Username}</interviewLabel>
    <label>Clone Order</label>
    <loops>
        <name>Loop_Order_Products</name>
        <label>Loop Order Products</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Order_Product_Record_Id_Blank</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Loop_Order_Products</targetReference>
        </connector>
        <inputReference>Get_Order</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Products</name>
        <label>Create Order Products</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <inputReference>OrderProductCollectionVariable</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clone_Options</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Clone_Options</name>
        <label>Clone Options</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choices</targetReference>
        </connector>
        <fields>
            <name>Clone_Options_Choices</name>
            <choiceReferences>ChangeProducts</choiceReferences>
            <choiceReferences>ChangeLocation</choiceReferences>
            <choiceReferences>ChangeNothing</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ChangeNothing</defaultSelectedChoiceReference>
            <fieldText>Clone Options Choices</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InputId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>OrderProductCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
